.weather-card {
    background-color: #9eaed1;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .weather-card h2 {
    margin-top: 0;
  }
  
  .weather-card p {
    margin-bottom: 10px;
  }