.card {
  background-color: #fff;
  padding: 16px;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card p {
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #337ab7;
}

.card a:hover {
  color: #23527c;
}